Repository reactjs/zh-hans.react.dev, pull requests merged in 2019-02, with the labels that each got.

#93 docs(cn): transalte content/community/nav.yml
  content/community/nav.yml
  src/templates/components/NavigationFooter/NavigationFooter.js
Labels: Pending Re-Review

#13 docs(cn): add `Composition vs Inheritance` translations
  content/docs/composition-vs-inheritance.md
Labels: Pending Re-Review

#40 docs: add `Rendering Elements` translations
  content/docs/rendering-elements.md
Labels: Pending Re-Review

#88 docs(cn): translate content/docs/reference-javascript-environment-req…
  content/docs/reference-javascript-environment-requirements.md
Labels: Pending Re-Review

#11 docs(cn): translate content/docs/code-splitting.md into Chinese
  content/docs/code-splitting.md
Labels: Pending Re-Review

#10 docs(cn): translate content/docs/addons-test-utils.md into Chinese
  content/docs/addons-test-utils.md
Labels: Pending Re-Review

#41 docs(cn): translate content/docs/lists-and-keys.md into Chinese
  content/docs/lists-and-keys.md
Labels: Pending Re-Review

#111 docs(cn): translate content/warnings/unknown-prop.md into Chinese
  content/warnings/unknown-prop.md
Labels: Pending Re-Review

#12 doc(cn): translate tutorial to zh-cn
  content/tutorial/nav.yml
  content/tutorial/tutorial.md
Labels: Pending Re-Review

#14 docs(cn): translate `basic/state_and_ lifecycle`
  content/docs/state-and-lifecycle.md
Labels: Pending Re-Review

#129 Integrating with other libraries
  content/docs/integrating-with-other-libraries.md
Labels: Pending Review

#92 docs(cn): translate content/docs/conditional-rendering.md into Chinese
  content/docs/conditional-rendering.md
Labels: Pending Re-Review

#79 docs(cn): translate content/docs/components-and-props.md into Chinese
  content/docs/components-and-props.md
Labels: Pending Re-Review

#128 docs(cn): add react without es6 translate
  content/docs/react-without-es6.md
Labels: Pending Re-Review

#84 docs(cn): translate docs/handling-events
  content/docs/handling-events.md
Labels: Pending Modify
