Repository reactjs/zh-hans.react.dev, pull requests merged in 2019-03, with the labels that each got.

#16 docs(cn): translate content/docs/hooks-state.md into Chinese
  content/docs/hooks-state.md
Labels: Pending Re-Review

#15 cn-Introducing-JSX
  content/docs/introducing-jsx.md
Labels: Pending Modify

#90 docs(cn): translate content/docs/lifting-state-up.md into Chinese
  content/docs/lifting-state-up.md
Labels: Pending Re-Review

#97 docs(cn): translate content/docs/reference-test-renderer.md into Chinese
  content/docs/reference-test-renderer.md
Labels: Pending Re-Review

#91 docs(cn): translate content/docs/addons-shallow-renderer.md into Chinese
  content/docs/addons-shallow-renderer.md
  content/docs/reference-javascript-environment-requirements.md
Labels: Pending Re-Review

#95 doc(cn) - translate form
  content/docs/forms.md
Labels: Pending Re-Review

#96 docs(cn): translate content/docs/reference-react-dom.md into Chinese
  content/docs/reference-react-dom.md
Labels: Pending Re-Review

#87 docs(cn): translate content/docs/context.md into Chinese
  content/docs/context.md
  examples/context/motivation-problem.js
  examples/context/motivation-solution.js
  examples/context/multiple-contexts.js
  examples/context/theme-detailed-app.js
  examples/context/theme-detailed-theme-context.js
  examples/context/updating-nested-context-app.js
  examples/context/updating-nested-context-context.js
  examples/context/updating-nested-context-theme-toggler-button.js
Labels: Pending Modify

#100 docs(cn): translate content/docs/reference-react-dom-server.md into Chinese
  content/docs/reference-react-dom-server.md
Labels: Pending Modify

#99 docs(cn): translate content/docs/hooks-custom.md to Chinese
  content/docs/hooks-custom.md
Labels: Pending Re-Review

#101 docs(cn): translate content/docs/reference-events.md into Chinese
  content/docs/reference-events.md
Labels: Pending Re-Review

#155 docs(cn): translate content/docs/reference-glossary.md into Chinese
  content/docs/reference-glossary.md
Labels: Pending Re-Review

#138 docs(cn): translate content/docs/reference-react.md into Chinese
  content/docs/reference-react.md
Labels: Pending Modify

#105 docs(cn): translate content/docs/reference-dom-elements.md into Chinese
  content/docs/reference-dom-elements.md
Labels: Pending Re-Review

#143 docs(cn): translate content/docs/getting-started.md into Chinese
  content/docs/getting-started.md
Labels: Pending Review, invalid

#104 docs(cn): translate content/docs/create-a-new-react-app.md into Chinese
  content/docs/create-a-new-react-app.md
  content/docs/nav.yml
Labels: Pending Modify

#103 docs(cn): translate content/docs/add-react-to-a-website.md into Chinese
  content/docs/add-react-to-a-website.md
Labels: Pending Review

#146 fix(cn): modify errors in translation
  content/docs/hooks-state.md
Labels: Pending Review

#135 docs(cn): translate content/docs/hooks-rules.md into Chinese
  content/docs/hooks-rules.md
Labels: Pending Re-Review

#164 docs(cn): translate/content/docs/reference-react-component.md into Chinese
  content/docs/reference-react-component.md
  examples/react-component-reference/get-snapshot-before-update.js
Labels: Pending Re-Review

#112 docs(cn): translate content/warnings/special-props.md into Chinese
  content/warnings/special-props.md
Labels: Pending Review

#124 docs(cn): translate content/warnings/refs-must-have-owner.md into Chinese
  content/warnings/refs-must-have-owner.md
Labels: Pending Re-Review

#113 docs(cn): translate content/warnings/legacy-factories.md into Chinese
  content/warnings/legacy-factories.md
Labels: Pending Review

#114 docs(cn): translate content/warnings/invalid-aria-prop.md into Chinese
  content/warnings/invalid-aria-prop.md
Labels: Pending Review

#115 docs(cn): translate content/warnings/dont-call-proptypes.md into Chinese
  content/warnings/dont-call-proptypes.md
Labels: Pending Review

#120 docs(cn): translate content/docs/optimizing-performance.md into Chinese
  content/docs/optimizing-performance.md
Labels: Pending Re-Review

#154 docs(cn): translate content/docs/refs-and-the-dom.md into Chinese
  content/docs/refs-and-the-dom.md
Labels: Pending Review

#110 docs(cn): translate content/docs/hooks-overview.md into Chinese
  content/docs/hooks-overview.md
  content/docs/nav.yml
Labels: Pending Re-Review

#169 docs(cn): content/warnings/invalid-hook-call-warning.md into Chinese
  content/warnings/invalid-hook-call-warning.md
Labels: Pending Review

#122 doc: Chinese translation for reconciliation.md
  content/docs/reconciliation.md
Labels: Pending Review

#123 docs(cn): translate content/docs/hooks-effect.md into Chinese
  content/docs/hooks-effect.md
Labels: Pending Modify

#131 docs(cn): translate content/docs/hooks-intro.md into Chinese
  content/docs/hooks-intro.md
Labels: Pending Re-Review

#158 docs(cn): translate content/docs/jsx-in-depth.md into Chinese
  content/docs/jsx-in-depth.md
Labels: Pending Re-Review

#119 docs(cn): translate content/docs/uncontrolled-components.md into Chinese
  content/docs/uncontrolled-components.md
Labels: Pending Re-Review

#141 docs(cn)/faq-internals-translation
  content/docs/faq-internals.md
Labels: Pending Review

#108 docs Typechecking With PropTypes
  content/docs/typechecking-with-proptypes.md
Labels: Pending Review

#106 doc: translation render props
  content/docs/render-props.md
Labels: Pending Review

#132 docs(cn): translated content/docs/fragments.md into Chinese
  content/docs/fragments.md
Labels: Pending Review

#116 docs(cn): translate content/docs/static-type-checking.md into Chinese
  content/docs/static-type-checking.md
Labels: Pending Re-Review
