Repository reactjs/zh-hans.react.dev, pull requests merged in 2019-04, with the labels that each got.

#157 docs(cn): translate docs/faq-ajax.md into Chinese
  content/docs/faq-ajax.md
Labels: Pending Re-Review

#167 docs(cn): translate content/docs/faq-build.md into Chinese
  content/docs/faq-build.md
Labels: Pending Review

#156 docs(cn): translate docs/web-components into Chinese
  content/docs/web-components.md
Labels: Pending Re-Review

#134 docs(cn): translate content/docs/faq-styling.md into Chinese
  content/docs/faq-styling.md
Labels: Pending Modify

#121 docs(cn): translate content/docs/hooks-faq.md into Simplified Chinese
  content/docs/hooks-faq.md
Labels: Pending Review

#179 docs(cn): translate content/blog/2013-06-05-why-react.md into Chinese
  content/blog/2013-06-05-why-react.md
Labels: Pending Re-Review

#173 docs(cn): translate content/docs/hooks-reference.md into Chinese
  content/docs/hooks-reference.md
Labels: Pending Review

#177 docs(cn): translate content/docs/react-without-jsx.md into Chinese
  content/docs/react-without-jsx.md
Labels: Pending Review

#147 docs(cn): translate content/docs/portals.md into Chinese
  content/docs/portals.md
Labels: Pending Modify

#181 docs(cn): translate content/blog/2018-11-13-react-conf-recap.md into Chinese
  content/blog/2018-11-13-react-conf-recap.md
Labels: Pending Review

#165 docs(cn): translate content/docs/strict-mode.md into Chinese
  content/docs/strict-mode.md
Labels: Pending Review

#118 docs(cn): translate content/docs/forwarding-refs.md into Chinese
  content/docs/forwarding-refs.md
  examples/forwarding-refs/customized-display-name.js
  examples/forwarding-refs/fancy-button-ref.js
  examples/forwarding-refs/fancy-button-simple-ref.js
  examples/forwarding-refs/fancy-button.js
  examples/forwarding-refs/log-props-after.js
Labels: Pending Re-Review

#153 docs(cn): translate content/docs/error-boundaries.md into Chinese
  content/docs/error-boundaries.md
  content/docs/nav.yml
Labels: Pending Modify

#175 docs(cn): translate content/docs/accessibility.md into Chinese
  content/docs/accessibility.md
Labels: Pending Review
