Repository reactjs/zh-hans.react.dev, pull requests merged in 2023-02, with the labels that each got.

#654 [Beta]: docs(cn): updating-arrays-in-state
  beta/src/content/learn/updating-arrays-in-state.md
Labels: beta, Pending merge

#777 docs(cn): translate content/blog/2022-03-29-react-v18.md into Chinese
  content/blog/2022-03-29-react-v18.md
Labels: Pending merge

#827 Update 2015-12-18-react-components-elements-and-instances.md
  content/blog/2015-12-18-react-components-elements-and-instances.md
Labels: Pending merge

#1058 fix: remove comment for fixing ci
  beta/src/content/learn/updating-arrays-in-state.md
Labels: beta

#829 Update refs-and-the-dom.md
  content/docs/refs-and-the-dom.md
Labels: Pending merge

#901 fix: change some details for ReactDOM
  content/docs/reference-react-dom.md
Labels: Pending merge

#877 fix(docs/hooks-reference): polish translations
  content/docs/hooks-reference.md
Labels: Pending merge

#887 docs: update translation in `hook-effect`
  content/docs/hooks-effect.md
Labels: Pending merge

#891 fix: typo
  content/docs/reference-javascript-environment-requirements.md
Labels: Pending merge

#970 fix(cn): description error
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
Labels: beta, Pending merge

#938 docs: fix typo
  content/docs/faq-state.md
Labels: Pending merge

#950 feat: update translations in code blocks
  content/docs/hooks-effect.md
Labels: Pending merge

#959 docs(cn): translate the untranslated part in content/docs/handling-ev…
  content/docs/handling-events.md
Labels: Pending merge

#1054 fix: Fix a spelling error in the Chinese document
  content/docs/hooks-reference.md
Labels: Pending merge

#1052 fix: correct the prev link
  content/docs/hello-world.md
Labels: Pending merge

#1010 docs(cn):fix grammatical error
  content/docs/hooks-overview.md
Labels: Pending merge

#1050 fix typo in `2018-06-07-you-probably-dont-need-derived-state`
  content/blog/2018-06-07-you-probably-dont-need-derived-state.md
Labels: Pending merge

#1049 fix: change the previous English link to Chinese link
  content/docs/hello-world.md
  content/docs/introducing-jsx.md
Labels: Pending merge

#1047 fix typo in `optimizing-performance`
  content/docs/optimizing-performance.md
Labels: Pending merge

#1030 fix translations in `community/videos`
  content/community/videos.md
Labels: Pending merge

#988 docs(cn): optimize the semantic representation
  content/docs/hooks-overview.md
Labels: Pending merge

#1006 docs(cn): translate links in `integrating-with-other-libraries`
  content/docs/integrating-with-other-libraries.md
Labels: Pending merge

#1016 fix translations in `reference-react-dom`
  content/docs/reference-react-dom.md
Labels: Pending merge

#876 fix(blog 2022-06-15): grammar mistake
  content/blog/2022-06-15-react-labs-what-we-have-been-working-on-june-2022.md
Labels: Pending merge

#971 fix(cn): lack of translation
  beta/src/content/learn/extracting-state-logic-into-a-reducer.md
Labels: beta, Pending merge

#972 fit(cn): md incorrect usage
  beta/src/content/learn/render-and-commit.md
Labels: beta, Pending merge

#973 fit(cn): md incorrect usage
  beta/src/content/learn/importing-and-exporting-components.md
Labels: beta, Pending merge

#1061 docs(cn): fix conflicts
  beta/src/components/Layout/Page.tsx
  beta/src/components/MDX/HomepageHero.tsx
  beta/src/content/community/acknowledgements.md
  beta/src/content/community/index.md
  beta/src/content/index.md
  beta/src/content/learn/add-react-to-a-website.md
  beta/src/content/learn/editor-setup.md
  beta/src/content/learn/index.md
  beta/src/content/learn/keeping-components-pure.md
  beta/src/content/learn/render-and-commit.md
  beta/src/content/learn/responding-to-events.md
  beta/src/content/learn/thinking-in-react.md
  beta/src/content/learn/writing-markup-with-jsx.md
  beta/src/content/learn/your-first-component.md
  beta/src/content/reference/react-dom/render.md
  beta/src/sidebarLearn.json
  content/community/conferences.md
  content/docs/components-and-props.md
  content/docs/conditional-rendering.md
  content/docs/context.md
  content/docs/forms.md
  content/docs/forwarding-refs.md
  content/docs/getting-started.md
  content/docs/handling-events.md
  content/docs/hooks-custom.md
  content/docs/hooks-effect.md
  content/docs/hooks-reference.md
  content/docs/hooks-state.md
  content/docs/introducing-jsx.md
  content/docs/lifting-state-up.md
  content/docs/lists-and-keys.md
  content/docs/portals.md
  content/docs/reconciliation.md
  content/docs/reference-dom-elements.md
  content/docs/reference-events.md
  content/docs/reference-react-component.md
  content/docs/reference-react-dom.md
  content/docs/reference-react.md
  content/docs/state-and-lifecycle.md
  content/docs/strict-mode.md
  content/docs/thinking-in-react.md
  content/docs/uncontrolled-components.md
  content/tutorial/tutorial.md
Labels: beta

#1021 fix: correct translations for `change over time`
  beta/src/content/learn/thinking-in-react.md
Labels: beta

#974 fit(cn): lack of translation
  beta/src/content/learn/writing-markup-with-jsx.md
Labels: beta

#1062 fix: remove `<SocialBanner/>`
  beta/src/components/Layout/Page.tsx
Labels: beta

#676 [Beta] docs(cn): translate learn/rendering-lists into Chinese
  beta/src/content/learn/rendering-lists.md
Labels: beta

#1073 fix(cn): heading level error
  beta/src/content/learn/updating-arrays-in-state.md
Labels: beta

#677 [Beta]: docs(cn): translate learn/queueing-a-series-of-state-updates
  beta/src/content/learn/queueing-a-series-of-state-updates.md
Labels: Pending Review, beta

#1018 docs(cn): translate content/docs/hooks-reference.md into Chinese
  content/docs/hooks-reference.md
Labels: Pending Re-Review

#665 [Beta]: docs(cn): translate learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
Labels: Pending Re-Review, beta

#651 [Beta]: docs(cn): state-a-components-memory
  beta/src/content/learn/state-a-components-memory.md
Labels: Pending Re-Review, beta

#647 [Beta]: docs(cn): translate learn/passing-props-to-a-component.md
  beta/src/content/learn/passing-props-to-a-component.md
Labels: Pending Review, beta

#649 [Beta]: docs(cn): translate learn/referencing-values-with-refs.md
  beta/src/content/learn/manipulating-the-dom-with-refs.md
  beta/src/content/learn/referencing-values-with-refs.md
Labels: Pending Re-Review, beta
