Repository reactjs/zh-hans.react.dev, pull requests merged in 2023-06, with the labels that each got.

#1186 docs(cn): translate /reference/react/StrictMode into Chinese
  src/content/reference/react/StrictMode.md
Labels: Pending Re-Review, Pending merge

#1192 docs(cn): update learn/choosing-the-state-structure translation
  src/content/learn/choosing-the-state-structure.md
Labels: Pending Modify

#1198 docs(cn): translate reference/react-dom/components/option into Chinese
  src/content/reference/react-dom/components/option.md
Labels: Pending Re-Review

#1160 docs(cn): translate reference/react/memo into Chinese
  src/content/reference/react/memo.md
Labels: Pending Modify

#1141 docs(cn): translate reference/react/useDebugValue into Chinese
  src/content/reference/react/useDebugValue.md
Labels: Pending merge

#1200 docs(cn): translate reference/react-dom/components/select into Chinese
  src/content/reference/react-dom/components/select.md
Labels: Pending merge

#1202 docs(cn): translate reference/react-dom/server/index into Chinese
  src/content/reference/react-dom/server/index.md
Labels: Pending Re-Review

#1116 docs(cn): translate learn/tutorial-tic-tac-toe into Chinese
  src/content/learn/tutorial-tic-tac-toe.md
  src/sidebarLearn.json
Labels: Pending Re-Review

#1122 docs(cn): translate reference/react/useEffect into Chinese
  src/content/reference/react/useEffect.md
Labels: Pending Re-Review

#1098 docs(cn): translate reference/react/index into Chinese
  src/content/reference/react/index.md
Labels: Pending Re-Review

#1174 docs(cn): translate reference/react/Fragment into Chinese
  src/content/reference/react/Fragment.md
Labels: Pending Re-Review

#1171 docs(cn): translate reference/react-dom/client/index into Chinese
  src/content/reference/react-dom/client/index.md
Labels: Pending Re-Review

#1155 docs(cn): translate learn/you-might-not-need-an-effect into Chinese
  src/components/Layout/Footer.tsx
  src/content/learn/you-might-not-need-an-effect.md
  src/sidebarHome.json
  src/sidebarLearn.json
Labels: Pending Review

#1206 docs(cn): translate reference/react-dom/server/renderToStaticNodeStream into Chinese
  src/content/reference/react-dom/server/renderToStaticNodeStream.md
Labels: Pending Review

#1205 docs(cn): translate reference/react-dom/server/renderToNodeStream into Chinese
  src/content/reference/react-dom/server/renderToNodeStream.md
Labels: Pending Review

#1204 docs(cn): translate reference/react-dom/unmountComponentAtNode into Chinese
  src/content/reference/react-dom/unmountComponentAtNode.md
Labels: Pending Review

#1195 docs(cn): translate reference/react-dom/components/progress into Chinese
  src/content/reference/react-dom/components/progress.md
Labels: Pending Review

#1201 docs(cn): translate reference/react-dom/components/textarea into Chinese
  src/content/reference/react-dom/components/textarea.md
Labels: Pending Review

#1143 docs(cn): translate reference/react/useSyncExternalStore into Chinese
  src/content/reference/react/useSyncExternalStore.md
Labels: Pending Modify

#1203 docs(cn): translate reference/react-dom/findDOMNode into Chinese
  src/content/reference/react-dom/findDOMNode.md
Labels: discussion

#1175 docs(cn): translate reference/react/apis into Chinese
  src/content/reference/react/apis.md
Labels: Pending Modify

#1191 docs(cn):translate reference/react/isValidElement into Chinese
  src/content/reference/react/isValidElement.md
Labels: Pending Modify

#1181 docs(cn): translate reference/react-dom/server/renderToString into Ch…
  src/content/reference/react-dom/server/renderToString.md
Labels: Pending Modify

#1213 docs(cn): translate blog/2023/05/03/react-canaries into Chinese
  src/content/blog/2023/05/03/react-canaries.md
Labels: Pending Review

#1207 docs(cn): translate reference/react/cloneElement into Chinese
  src/content/reference/react/cloneElement.md
Labels: Pending Review

#1209 docs(cn): translate reference/react/PureComponent into Chinese
  src/content/reference/react/PureComponent.md
Labels: Pending Review

#1156 docs(cn): translate reference/react/useDeferredValue into Chinese
  src/content/reference/react/useDeferredValue.md
Labels: Pending Review

#1211 docs(cn): translate reference/react-dom/hydrate into Chinese
  src/content/reference/react-dom/hydrate.md
Labels: Pending Re-Review

#1161 docs(cn): translate reference/react/experimental_useEffectEvent into Chinese
  src/content/reference/react/experimental_useEffectEvent.md
Labels: Pending Review

#1167 docs(cn): translate Reference/react/separating events from effects into Chinese
  src/content/community/conferences.md
  src/content/learn/separating-events-from-effects.md
  src/content/reference/react-dom/createPortal.md
Labels: Pending Review

#1165 docs(cn): translate learn/escape-hatches into Chinese
  src/content/learn/escape-hatches.md
Labels: Pending Review

#1210 docs(cn): translate legacy/createElement into Chinese
  src/content/reference/react/createElement.md
Labels: Pending Modify

#1219 docs(cn): translate blog/2023/03/16/introducing-react-dev into Chinese
  src/content/blog/2023/03/16/introducing-react-dev.md
Labels: Pending Review

#1217 docs(cn): translate blog/2023/03/22/react-labs-what-we-have-been-working-on-march-2023 into Chinese
  src/content/blog/2023/03/22/react-labs-what-we-have-been-working-on-march-2023.md
Labels: Pending Review

#1144 docs(cn): translate learn/removing-effect-dependencies into Chinese
  src/content/learn/removing-effect-dependencies.md
Labels: Pending Review

#1185 docs(cn): translate tag into Chinese
  src/components/Tag.tsx
Labels: Pending Modify

#1182 docs(cn): update learn/index translate
  src/content/learn/index.md
Labels: Pending Review

#1153 docs(cn): translate warnings/invalid-hook-call-warning to Chinese
  src/content/warnings/invalid-hook-call-warning.md
Labels: Pending Re-Review

#1222 docs(cn): translate legacy/Children into Chinese
  src/content/reference/react/Children.md
Labels: Pending Modify

#1121 docs(cn): translate reference/react/useMemo into Chinese
  src/content/reference/react/useMemo.md
Labels: help wanted, Pending Modify
