Repository reactjs/zh-hans.react.dev, pull requests merged in 2023-03, with the labels that each got.

#772 docs: update links
  content/docs/hooks-reference.md
Labels: Pending Re-Review

#1074 fix(cn): description error
  beta/src/content/learn/passing-data-deeply-with-context.md
Labels: beta

#1070 [Beta] docs: translate README for Beta
  beta/README.md
Labels: beta

#636 [Beta]: docs(cn): conditional-rendering.md
  beta/src/content/learn/conditional-rendering.md
Labels: Pending Re-Review, beta

#692 [Beta] docs(cn): translate reacting-to-input-with-state
  beta/src/content/learn/reacting-to-input-with-state.md
Labels: Pending Modify, beta

#894 docs(cn): translate content/blog/2022-03-08-react-18-upgrade-guide.md
  content/blog/2022-03-08-react-18-upgrade-guide.md
Labels: Pending Modify

#652 [Beta]: docs(cn): sharing-state-between-components
  beta/src/content/learn/sharing-state-between-components.md
  beta/src/sidebarLearn.json
Labels: Pending Modify, beta

#1053 docs(cn): translate content/learn/adding-interactivity.md into Chinese
  src/content/learn/adding-interactivity.md
Labels: beta, Pending merge

#1101 docs(cn): translate the reference/react/lazy page
  src/content/reference/react/lazy.md
Labels: Pending Re-Review
